<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.osen">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"
        tools:replace="android:icon">
        <activity android:name=".activity.ChangePassword"></activity>
        <activity android:name=".activity.ForgotPassword" />
        <activity
            android:name=".activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InputScore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditClass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddClassroom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>